wandb/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv3/
meliad_lib/
ag_ckpt_vocab/

.idea/
data/
config/secrets.yml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
demo.csv
sync_to_mpi_cluster.sh
random_generation/dataset/
random_generation/filtered_dataset/
random_generation/filtered_dataset_with_aux/
output/
bin/
share/
pyvenv.cfg

random_generation/execution_time.log
etc/
final_dataset/
dataset/
random_generation/fl_nl_pairs.txt
